@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html , body{
    width: 100vw;
    height: 100vh;
   
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
    
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 311px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:270px;
    height: 500px;
}